.myModal{
    width: auto !important;
    margin: 0 auto;
    bottom: initial !important;

    max-height: initial !important;
    height: auto !important;
    min-height: initial !important;

    ion-content{
        position: relative;
        bottom: initial;
    }
}