.temp_name{
    font-size: 97%;
    font-style: inherit;
    font-weight:550;
    color:black;
}
.temp_status{
    // align-content: flex-end;
    // float: right;
    // align-items: flex-end;
//    text-align: end;
   float:right;
}
.icon_end{
    // color:blue;
    font-size: 22px;
}
ion-card{
    border: 1px solid rgb(241, 237, 237);
    // padding: 10px;
    box-shadow: 2px 4px #d6d4d4;
    // border-left: blue;
   
}
.content_root{
    background: rgb(240, 234, 234)
}