<ion-header>
  <ion-toolbar class="toolbar-background-color">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">SCHOOL SELECTION</ion-title>
  </ion-toolbar>
 
</ion-header>
<ion-content>
    <ion-text color="dark" class="ion-text-center">
        <p> Please select the school(s) that you plan to visit :</p>
      </ion-text>

  <ion-list lines="none">
    <ion-radio-group>
      <ion-list-header>
        <h4 class="text-secondary">Morning :</h4>
      </ion-list-header>
  
      <ion-item class="h-35">
        <ion-radio color="favorite" value="cord"></ion-radio>
        <ion-label class="pl-5">CPS THIRUVANMIYUR </ion-label>
      </ion-item>
     <ion-item  class="h-35">   
        <ion-radio color="favorite" value="duesenberg"></ion-radio>
        <ion-label class="pl-5">CMS MMDA II */

        </ion-label>
      </ion-item>
      <ion-item  class="h-35">
        <ion-radio color="favorite" value="hudson"></ion-radio>
        <ion-label class="pl-5">CPS TV SALAI</ion-label>
      </ion-item>  
      <ion-item  class="h-35">
        <ion-radio color="favorite" value="hudson"></ion-radio>
        <ion-label class="pl-5">None of the above</ion-label>
      </ion-item> 
    </ion-radio-group>
  </ion-list>

  <ion-list lines="none">
    <ion-radio-group>
      <ion-list-header>
        <h4 class="text-secondary">Afternoon :</h4>
      </ion-list-header>
      <ion-item class="h-35">
        <ion-radio color="favorite" value="cord"></ion-radio>
        <ion-label class="pl-5">CPS JONES ROAD</ion-label>
      </ion-item>
     <ion-item  class="h-35">   
        <ion-radio color="favorite" value="duesenberg"></ion-radio>
        <ion-label class="pl-5">CPS PULIYANTHOPE </ion-label>
      </ion-item>
      <ion-item  class="h-35">
        <ion-radio color="favorite" value="hudson"></ion-radio>
        <ion-label class="pl-5"> CPS MGR NAGAR </ion-label>
      </ion-item>  
      <ion-item  class="h-35">
        <ion-radio color="favorite" value="hudson"></ion-radio>
        <ion-label class="pl-5">None of the above</ion-label>
      </ion-item> 
    </ion-radio-group>
  </ion-list>

  </ion-content>

  <ion-footer style="height:50px;background-color: #2D9CDB;">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button  class="btn-back">
          <ion-label>BACK</ion-label>
        </ion-tab-button>
        <ion-tab-button  class="btn-next">
          <ion-label>NEXT</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    <!-- <ion-text ><p style="text-align: center;color:white;font-size: 25px;line-height: 3px;">Next</p></ion-text> -->
  </ion-footer>


