<ion-header>
  <ion-toolbar class="toolbar-background-color">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Schedular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark" class="ion-text-center">
    <h1>Good Morning</h1>
    <p>Please select your activity for <span> 1st Dec 2019</span> </p>
  </ion-text>

  <ion-list lines="none">
    <ion-radio-group>
      <ion-list-header>
        <h4 class="text-secondary">Morning :</h4>
      </ion-list-header>
  
      <ion-item class="list-space">
        <ion-radio color="favorite" value="cord"></ion-radio>
        <ion-label class="pl-5">Leave</ion-label>
      </ion-item>
     <ion-item  class="list-space">   
        <ion-radio color="favorite" value="duesenberg"></ion-radio>
        <ion-label class="pl-5">Holiday</ion-label>
      </ion-item>
      <ion-item  class="list-space">
        <ion-radio color="favorite" value="hudson"></ion-radio>
        <ion-label class="pl-5">Training</ion-label>
      </ion-item>  
      <ion-item  class="list-space">
        <ion-radio color="favorite" value="packard"></ion-radio>
        <ion-label class="pl-5">Admin Work</ion-label>
      </ion-item>
      <ion-item  class="list-space">
        <ion-radio color="favorite" value="classroomVisit"></ion-radio>
        <ion-label class="pl-5">Classroom visit</ion-label>
      </ion-item>
      <ion-item  class="list-space">
        <ion-radio color="favorite" value="fieldSurvey"></ion-radio>
        <ion-label class="pl-5">Field Survey</ion-label>
      </ion-item>
      <ion-item  class="list-space">
        <ion-radio color="favorite" value="competition"></ion-radio>
        <ion-label class="pl-5">Competition</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list lines="none">
    <ion-radio-group>
      <ion-list-header>
        <h4 class="text-secondary">Afternoon :</h4>
      </ion-list-header>
      <ion-item  class="list-space">
        <ion-radio color="favorite" value="cord"></ion-radio>
        <ion-label class="pl-5">Leave</ion-label>
      </ion-item>
      <ion-item  class="list-space">   
        <ion-radio color="favorite" value="duesenberg"></ion-radio>
        <ion-label class="pl-5">Holiday</ion-label>
      </ion-item> 
      <ion-item  class="list-space">
        <ion-radio color="favorite" value="hudson"></ion-radio>
        <ion-label class="pl-5">Training</ion-label>
      </ion-item>
      <ion-item  class="list-space">
        <ion-radio color="favorite" value="packard"></ion-radio>
        <ion-label class="pl-5">Admin Work</ion-label>
      </ion-item> 
      <ion-item  class="list-space">
        <ion-radio color="favorite" value="classroomVisit"></ion-radio>
        <ion-label class="pl-5">Classroom visit</ion-label>
      </ion-item>
      <ion-item  class="list-space">
        <ion-radio color="favorite" value="fieldSurvey"></ion-radio>
        <ion-label class="pl-5">Field Survey</ion-label>
      </ion-item>
     <ion-item  class="list-space">
        <ion-radio color="favorite" value="competition"></ion-radio>
        <ion-label class="pl-5">Competition</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-text color="dark" class="ion-text-center">
    <h1>Thank you,<br>
   Have a great day</h1>
  </ion-text>
  </ion-content>

  <ion-footer style="height:50px;background-color: #2D9CDB;">
    <ion-text><p style="text-align: center;color:white;font-size: 25px;line-height: 3px;">Next</p></ion-text>
  </ion-footer>


