<ion-header>
  <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/page-route/dashboard"></ion-back-button>
        </ion-buttons>
    <!-- <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons> -->
    <ion-title>
      Class List
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="ion-contentbg">
    <ion-grid>
      <ion-card>
      <ion-row>
      <ion-col size="3">
        <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #bd3c3c;">
          <div style="font-size:16px;"><b>1 </b><span style="font-size:11px;">STD</span></div>
          <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
        </ion-card>
      </ion-col>
      <ion-col size="3">
          <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #3cbb8c;">
            <div style="font-size:16px;"><b>1 </b><span style="font-size:11px;">STD</span></div>
            <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-card>
    <ion-card>
       <ion-row>
        <ion-col size="3">
          <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #802ac1;">
            <div style="font-size:16px;"><b>2 </b><span style="font-size:11px;">STD</span></div>
            <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
          </ion-card>
        </ion-col>
        <ion-col size="3">
            <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #3ca5bd;">
              <div style="font-size:16px;"><b>2 </b><span style="font-size:11px;">STD</span></div>
              <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-card>
      <ion-card> 
        <ion-row>
          <ion-col size="3">
            <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #bd833c;">
              <div style="font-size:16px;"><b>3 </b><span style="font-size:11px;">STD</span></div>
              <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
            </ion-card>
          </ion-col>
          <ion-col size="3">
              <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #3f51b5f7;">
                <div style="font-size:16px;"><b>3 </b><span style="font-size:11px;">STD</span></div>
                <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
              </ion-card>
            </ion-col>
        </ion-row> 
      </ion-card>
        <ion-card> 
          <ion-row>
            <ion-col size="3">
              <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #ff5722d9;">
                <div style="font-size:16px;"><b>4 </b><span style="font-size:11px;">STD</span></div>
                <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
              </ion-card>
            </ion-col>
            <ion-col size="3">
                <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #9e9e9e;">
                  <div style="font-size:16px;"><b>4 </b><span style="font-size:11px;">STD</span></div>
                  <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
                </ion-card>
              </ion-col>
          </ion-row> 
        </ion-card>
          <ion-card> 
            <ion-row>
              <ion-col size="3">
                <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #ff9800;">
                  <div style="font-size:16px;"><b>5 </b><span style="font-size:11px;">STD</span></div>
                  <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
                </ion-card>
              </ion-col>
              <ion-col size="3">
                  <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #607d8b;">
                    <div style="font-size:16px;"><b>5 </b><span style="font-size:11px;">STD</span></div>
                    <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
                  </ion-card>
                </ion-col>
            </ion-row>
          </ion-card>
            <ion-card> 
              <ion-row>
                <ion-col size="3">
                  <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #00bcd4;">
                    <div style="font-size:16px;"><b>6 </b><span style="font-size:11px;">STD</span></div>
                    <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
                  </ion-card>
                </ion-col>
                <ion-col size="3">
                    <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #9c27b0;">
                      <div style="font-size:16px;"><b>6 </b><span style="font-size:11px;">STD</span></div>
                      <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
                    </ion-card>
                  </ion-col>
              </ion-row>
            </ion-card>
              <ion-card>
                <ion-row>
                  <ion-col size="3">
                    <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #4caf50;">
                      <div style="font-size:16px;"><b>7 </b><span style="font-size:11px;">STD</span></div>
                      <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
                    </ion-card>
                  </ion-col>
                  <ion-col size="3">
                      <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #bd3c3c;">
                        <div style="font-size:16px;"><b>7 </b><span style="font-size:11px;">STD</span></div>
                        <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
                      </ion-card>
                    </ion-col>
                </ion-row>
              </ion-card>
                <ion-card>
                  <ion-row>
                    <ion-col size="3">
                      <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #3cbb8c;">
                        <div style="font-size:16px;"><b>8 </b><span style="font-size:11px;">STD</span></div>
                        <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
                      </ion-card>
                    </ion-col>
                    <ion-col size="3">
                        <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #d54eda;">
                          <div style="font-size:16px;"><b>8 </b><span style="font-size:11px;">STD</span></div>
                          <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
                        </ion-card>
                      </ion-col>
                  </ion-row>
                </ion-card>
                  <ion-card>
                    <ion-row>
                      <ion-col size="3">
                        <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #ff9800;">
                          <div style="font-size:16px;"><b>9 </b><span style="font-size:11px;">STD</span></div>
                          <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
                        </ion-card>
                      </ion-col>
                      <ion-col size="3">
                          <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #bd3c3c;">
                            <div style="font-size:16px;"><b>9 </b><span style="font-size:11px;">STD</span></div>
                            <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
                          </ion-card>
                        </ion-col>
                    </ion-row>
                  </ion-card>
                    <ion-card>
                      <ion-row>
                        <ion-col size="3">
                          <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #4caf50;">
                            <div style="font-size:16px;"><b>10 </b><span style="font-size:11px;">STD</span></div>
                            <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
                          </ion-card>
                        </ion-col>
                        <ion-col size="3">
                            <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #802ac1;">
                              <div style="font-size:16px;"><b>10 </b><span style="font-size:11px;">STD</span></div>
                              <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
                            </ion-card>
                          </ion-col>
                      </ion-row> 
                    </ion-card>
                      <ion-card>
                        <ion-row>
                          <ion-col size="3">
                            <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #00bcd4;">
                              <div style="font-size:16px;"><b>11 </b><span style="font-size:11px;">STD</span></div>
                              <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
                            </ion-card>
                          </ion-col>
                          <ion-col size="3">
                              <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #9e9e9e;">
                                <div style="font-size:16px;"><b>11 </b><span style="font-size:11px;">STD</span></div>
                                <div style="font-size:16px;"><b>B </b><span style="font-size:11px;">SEC</span></div>
                              </ion-card>
                            </ion-col>
                            <ion-col size="3">
                                <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #4caf50;">
                                  <div style="font-size:16px;"><b>11 </b><span style="font-size:11px;">STD</span></div>
                                  <div style="font-size:16px;"><b>C </b><span style="font-size:11px;">SEC</span></div>
                                </ion-card>
                              </ion-col>
                        </ion-row>
                      </ion-card>
                        <ion-card>
                          <ion-row>
                            <ion-col size="3">
                              <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #3f51b5f7;">
                                <div style="font-size:16px;"><b>12 </b><span style="font-size:11px;">STD</span></div>
                                <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
                              </ion-card>
                            </ion-col>
                            <ion-col size="3">
                                <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #802ac1;">
                                  <div style="font-size:16px;"><b>12 </b><span style="font-size:11px;">STD</span></div>
                                  <div style="font-size:16px;"><b>A </b><span style="font-size:11px;">SEC</span></div>
                                </ion-card>
                              </ion-col>
                              <ion-col size="3">
                                  <ion-card routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" style="background-color: #bd3c3c;">
                                    <div style="font-size:16px;"><b>12 </b><span style="font-size:11px;">STD</span></div>
                                    <div style="font-size:16px;"><b>C </b><span style="font-size:11px;">SEC</span></div>
                                  </ion-card>
                                </ion-col>
                          </ion-row> 
                        </ion-card>    
                        </ion-grid>
    </ion-content>
    <!-- <ion-footer>
      <ion-card>     <ion-row>
        <ion-col col-12 style="padding: 0px;">
            <ion-button size="default" routerLink="/page-route/student-attendance" routerDirection="root" class="insidecard" expand="block" class="login_button" router>Continue</ion-button>
        </ion-col>
      </ion-row>   </ion-card>
    </ion-footer> -->