<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
<ion-app>
    <ion-split-pane>
        <!-- <ion-menu type="overlay">
        
          <ion-content class="bg-color3">
            <ion-row class="menu_row" col-10 offset-15>
              <ion-col class="menu_col">
                  <ion-avatar class="menu_avatar">
                      <img src="../assets/img/tnlogo.png">
                    </ion-avatar>
              </ion-col>
            </ion-row>          
            <ion-list>
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
               
                  <ion-item (click)="setAction(p)">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-content>
        </ion-menu> -->
        <!--Material Design Menu-->
  <ion-menu  id="menu-material">
    <ion-content>
      <div class="menu-header">
        <!--material-design-background-->
        <img class="user-avatar round" style="height:90px;max-width:90px;" src="../assets/img/avatar/girl_avatar_2.png" 
        />
        
        <p class="name">{{logged_username != '' ? logged_username : 'User'}}</p>
        <!-- <p class="e-mail">Others</p> -->
        <!-- <img align="right" class="tn-logo-right"  src="../assets/img/tnlogo.png" -->
        <!-- /> -->
      </div>
      <ion-list lines="none">
        <!-- <button menuClose="left" ion-item detail-none *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button> -->
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
               
        <ion-item (click)="setAction(p)">
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
        <ion-label (click)="goDashboard(p.url)">
          {{p.title}}
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <!-- <ion-item style="background-color:rgb(250, 235, 215)">
        <ion-label (click)="downloadTemplate()"></ion-label>
      </ion-item> -->
      <ion-item (click)="downloadTemplate()">
          <ion-icon slot="start" name="download"></ion-icon>
          <ion-label>
              Download Data
          </ion-label>
        </ion-item>
        <ion-item>
          <!-- <ion-icon slot="start" name="download"></ion-icon>
          <ion-label>
              Language
          </ion-label> -->
          <!-- [disabled]="this.isDisabled" -->
             <div class="select_box">
                <select [(ngModel)]="languageType" (change)="mySelectHandler()" [disabled]="this.isDisabled">
                  <!-- <option value="undefined" disabled selected hidden>Choose Language</option> -->
                  <option value="en">English</option>
                  <option value="ta">Tamil</option>
                </select>
             </div>
           </ion-item>
      
      </ion-list>
    
    </ion-content>
    <!-- <ion-footer> -->
    <ion-item color="primary" *ngIf="appVersionNumber != ''">
        <ion-label >App version : {{appVersionNumber}}</ion-label>
      </ion-item>
    <!-- </ion-footer> -->
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>

        <!-- <app-mainpage></app-mainpage> -->
      </ion-split-pane>
</ion-app>
