.input{
    border-left: 6px solid blue;
    border-right:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-radius: 10px;
    // border-block-start-color: aqua;
    font-size: 16px;
    // font-weight: bold;
    color:black;
   
  }
  .select{
    border-left: 6px solid blue;
    border-right:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-radius: 10px;
    color: black;
    // border-block-start-color: aqua;
   
  }
  .text-area{
    border-left: 6px solid blue;
    border-right:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-radius: 10px;
    font-weight: bold;
  }
  ion-label{
    font-size: 16px;
  }