@font-face {
    font-family: 'Vanavil Avvaiyar' ;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/vanavil.otf');
  }
  

  @font-face {
    font-family: 'My Custom Font';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Azonix.otf');
  }
  