// app-classroom-data{
//     ion-content{
//         background-color:#eee !important;
//     }
// }
// ion-content{
//     background-color:#eee;
// }
ion-card{
    background-color:#fff;
    padding: 7px 16px !important;
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}
.new-background-color{
    --background: #3880ff;
    --color: #fff;
}
.ion-contentbg{
    --background: #eeeeee91;
}
.foot{
    background-color:#eeeeee91;
}
.label_school{
    font-size: 16px;
    // margin-top:50px;
    color:black;
    // padding:5px;

}
p{
    font-size:16px;
}
.label{
    font-weight: bold;
    color:darkslateblue
}
.value{
    color:black;
}