 /* Following classes display/hide the 'menu'
 // based on the state change detection in the
 // component class */
//  .select_box{
//    font-size: 12px;
// }
// select option{
//    font-size: 12px;
// }

 .icon-check{
padding:0px 100px 0px 100px;    
 }
 .icon-success{
    color:green ;
    font-size: 32px;
 }
 .icon-danger{
    color:red ;
    font-size: 32px;
 }