<ion-content>
<!-- List of Text Items -->
<p class="fs-15 text-center border-bottom-primary color-blue mb-0"><b>Quick Navigation</b></p>
<ion-icon name="close" class="text-danger" ></ion-icon>

<ion-list lines="none" class="p-0">
  <ion-item>
    <ion-label class="color-lgrey fs-15"><b>EMIS Verification</b></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="color-lgrey fs-15"><b>Classroom Details</b></ion-label>
</ion-item>
<ion-item>
    <ion-label class="color-lgrey fs-15"><b>Observations</b></ion-label>
  </ion-item>
    <ion-list lines="none">
        <ion-item>
          <ion-label  class="color-lgrey fs-15">Teaching Observations</ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="color-lgrey fs-15">Classroom Observations</ion-label>
          </ion-item>
          <ion-item>
              <ion-label  class="color-lgrey fs-15">Questions for teachers</ion-label>
            </ion-item>
    </ion-list> 
  <ion-item>
    <ion-label >Student Assesment</ion-label>
  </ion-item>
    <ion-list lines="none">
        <ion-item>
          <ion-label  class="color-lgrey fs-15">Check for understanding</ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="color-lgrey fs-15">LO based assesment</ion-label>
          </ion-item>  
    </ion-list>
</ion-list>
    </ion-content>
    <ion-footer style="height:38px;background-color: #2D9CDB;">
      <!-- <ion-text > -->
        <p style="text-align: center;color:white;font-size: 16px;padding-top: 8px;"><b>Dashboard</b></p>
      <!-- </ion-text> -->
    </ion-footer>
  