
ion-list ion-item{
    border-bottom: 1px solid #BDBDBD;
}
ion-icon{
    right: 0;
    position: absolute;
    top: 2px;
    padding-right: 12px;
}


.border-bottom-primary{
    border-bottom: 1px solid;
}